html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  color: black;
  font-size: 500;
  margin: 0;
  padding: 0;
}
body,
html {
  background-color: #1d1c25;
  margin: 0;
  padding: 0;
}
iframe {
  padding: 0;
  width: 100%;
  margin: 0;
  height: auto;
}

/*------------------------------------*/
.container {
  width: 200px;
  height: 260px;
  position: relative;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  top: -50;
}
.card {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.card div {
  height: 100%;
  width: 100%;
  text-align: center;
  font-weight: bold;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card .back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.front,
.back {
  margin-top: -50;
}
.card.flipped {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/*sayi kmlt t3 animation*/
.row {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}
.column {
  flex: 50%;
}
@media only screen and (max-width: 600px) {
  .card {
    width: 300%;
    height: 300%;
    position: absolute;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .card div {
    height: 100%;
    width: 100%;
    text-align: center;
    font-weight: bold;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .container {
    width: 100px;
    height: 130px;
    position: relative;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    top: -50;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .row {
    display: flex;
    margin-right: 0px;
    margin-left: 0px;
    width: 80%;
  }
  .back.front {
    margin-left: 10px;
    margin-right: 10px;
  }
}

/*hadi ga3 t3 l window li tkhrj*/

/* Set a style for all buttons */
button {
  background-color: #f44336;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: 100%;
  padding: 10px 18px;
  background-color: #4caf50;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
}

.container1 {
  padding: 15px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #554269;
  width: 40%; /* Could be more or less, depending on screen size */
  border-radius: 1%;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

/*-------------------------------*/

.range {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  margin-top: 10px;
  transform: translate(-50%, -50%);
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: rgba(59, 173, 227, 1);
  background: -moz-linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(87, 111, 230, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(255, 53, 127, 1) 100%
  );
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, rgba(59, 173, 227, 1)),
    color-stop(25%, rgba(87, 111, 230, 1)),
    color-stop(51%, rgba(152, 68, 183, 1)),
    color-stop(100%, rgba(255, 53, 127, 1))
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(87, 111, 230, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(255, 53, 127, 1) 100%
  );
  background: -o-linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(87, 111, 230, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(255, 53, 127, 1) 100%
  );
  background: -ms-linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(87, 111, 230, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(255, 53, 127, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(87, 111, 230, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(255, 53, 127, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
  height: 2px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  background: rgba(59, 173, 227, 1);
  background: -moz-linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(87, 111, 230, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(255, 53, 127, 1) 100%
  );
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, rgba(59, 173, 227, 1)),
    color-stop(25%, rgba(87, 111, 230, 1)),
    color-stop(51%, rgba(152, 68, 183, 1)),
    color-stop(100%, rgba(255, 53, 127, 1))
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(87, 111, 230, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(255, 53, 127, 1) 100%
  );
  background: -o-linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(87, 111, 230, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(255, 53, 127, 1) 100%
  );
  background: -ms-linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(87, 111, 230, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(255, 53, 127, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(87, 111, 230, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(255, 53, 127, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
  height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  background-color: #1d1c25;
  cursor: -webkit-grab;

  -webkit-transition: border 1000ms ease;
  transition: border 1000ms ease;
}

input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  background-color: #1d1c25;
  cursor: -moz-grab;
  -moz-transition: border 1000ms ease;
  transition: border 1000ms ease;
}

.range.blue::-webkit-slider-thumb {
  border-color: rgb(59, 173, 227);
}

.range.ltpurple::-webkit-slider-thumb {
  border-color: rgb(87, 111, 230);
}

.range.purple::-webkit-slider-thumb {
  border-color: rgb(152, 68, 183);
}

.range.pink::-webkit-slider-thumb {
  border-color: rgb(255, 53, 127);
}

.range.blue::-moz-range-thumb {
  border-color: rgb(59, 173, 227);
}

.range.ltpurple::-moz-range-thumb {
  border-color: rgb(87, 111, 230);
}

.range.purple::-moz-range-thumb {
  border-color: rgb(152, 68, 183);
}

.range.pink::-moz-range-thumb {
  border-color: rgb(255, 53, 127);
}

input[type="range"]::-webkit-slider-thumb:active {
  cursor: -webkit-grabbing;
}

input[type="range"]::-moz-range-thumb:active {
  cursor: -moz-grabbing;
}
.cardroom {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  width: 500px;
  display: inline-block;
  margin: 25px;
}

.cardroom:hover {
  box-shadow: 0.5 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container-name {
  text-align: center;
  position: relative;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  padding: 2px 16px;
  border: 5;
  box-shadow: 0 0px 0px 8px rgba(0, 0, 0, 0.4);
  background-color: #52e0dd;
}
.container-rgb {
  position: relative;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  padding: 2px 16px;
  border: 5;
  background-color: #50add2;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  box-shadow: 5px 0px 0px 0px rgba(0, 0, 0, 0.2);
}
.container-charts {
  position: relative;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  padding: 2px 16px;
  border: 5;
  background-color: #4671a3;
  box-shadow: 5px 1px 0px 0px rgba(0, 0, 0, 0.2);
}
.container-secure {
  position: relative;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  padding: 2px 16px;
  border: 5;
  background-color: #595386;
  box-shadow: 5px 0px 0px 0px rgba(0, 0, 0, 0.2);
}
.container-gaz {
  position: relative;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  padding: 2px 16px;
  border: 5;
  background-color: #554269;
}

* {
  box-sizing: border-box;
}

.slider {
  width: 90%;
  margin: 100px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide {
  width: 400px;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-slide {
  transition: all ease-in-out 0.3s;
  opacity: 0.2;
}

.slick-active {
  opacity: 0.5;
}

.slick-current {
  opacity: 1;
}
.rgbview {
  display: inline-block;
}
