<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
 </head>
<body>
<div id="forgotView" style="display : block">

    <legend>Forgot Password</legend>
      <label for="email">Email</label>
      <input id="mail" type="text" name="email" autofocus="autofocus"/>

      <button  type="button" href='#'  onclick="reset_pass()" >Reset Password</button>

</div>
<script type="text/javascript" src="../jquery-3.3.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="../../log-res/scripts/app.js"></script>

</body>
</html>
