<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" type="text/css" href="swacss.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

 <script type="text/javascript" src="../jquery-3.3.1.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
 <script src="../../log-res/scripts/ajaxRequester.js"></script>
 <script src="../../log-res/scripts/app.js"></script>


<legend>Reset Password</legend>
<div class="form-group">
  <label for="password">New Password</label>
  <input class="form-control" id="pass1" type="password" name="password" value="" placeholder="New password" autofocus="autofocus"/>
</div>
<div class="form-group">
  <label for="confirm">Confirm Password</label>
  <input class="form-control" id="pass2" type="password" name="confirm" value="" placeholder="Confirm password"/>
</div>
<div class="form-group">
  <button class="btn btn-primary" type="submit" onclick="update_password()" >Update Password</button>
</div>

</head>

</html>