<!DOCTYPE html>
<html>
<<<<<<< HEAD
  <head>
    <title>Selecto</title>
  </head>
  <body>
    <div>
      <h3>DHT</h3>
      <select name="dht">
        <option value="dht-1">DHT-1</option>
        <option value="dht-2">DHT-1</option>
      </select>
      <h3>Light</h3>

      <select name="light">
        <option value="ligh-1">LIGHT-1</option>
        <option value="light-2">LIGHT-2</option>
      </select>
    </div>

    <h1><%= rooms%></h1>
  </body>
</html>
=======
<head>
    <title>Selecto</title>
</head>
<body>
    <div>
        <h3>DHT</h3>
<select name="dht">
    <option value="dht-1">DHT-1</option>
    <option value="dht-2">DHT-1</option>
  </select>
  <h3>Light</h3>

  <select name="light">
        <option value="ligh-1">LIGHT-1</option>
        <option value="light-2">LIGHT-2</option>
    </select>    </div>
</body>
</html>
>>>>>>> 67b4868981c6f20d9c44fdf12dd04b9f8cf364bc
